# Node.js 관련
node_modules/
npm-debug.log
yarn-error.log

# 환경 설정 파일
.env

# 운영체제 관련
.DS_Store
Thumbs.db

# 로그 파일
logs/
*.log

# IDE / 에디터 관련
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker 관련 (선택)
docker-compose.override.yml

# Build 결과물 (예: 나중에 빌드 도구 추가 시)
dist/
build/